@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallpapers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.wallpaper {
    border-radius: 5%;
    transition: transform 0.03s ease-in-out;
}

.wallpaper:hover {
    transform: scale(1.05);
}